<div ng-controller="controllers.BidFormCtrl">
<bsform model="bid">

	<bsformcontrol label="Amout"> 
		<input ng-model="bid.amount" name="amount">
	</bsformcontrol>

	<bsformcontrol label="Bidder"> 
		<select ng-model="bid.bidderId" ng-options="user.id as user.name for user in users" name="bidderId"></select>
	</bsformcontrol>
	
	<bsformcontrol label="Item"> 
		<select ng-model="bid.itemId" ng-options="item.id as item.name for item in items" name="itemId"></select>
	</bsformcontrol>
</bsform>
</div>