<div> This is Items view. </div>
<a href="bids/create"> Create </a>
<ui-grid source="dataSource" page="page">
	<column name="id"></column>
	<column name="bidderId" sortable="true"></column>
	<column name="itemId" sortable="true"></column>
</ui-grid>