<div class="container">
	<div class="row">This is dashboard.</div>
	<div class="form-group row">
		<button class="btn btn-default btn-primary" ng-click="addSampleData()"
			ng-disabled="!canAddSampleData">Add sample data</button>
	</div>
</div>