<div>
	<div ng-transclude>
	
	</div>
	<table class="table table-bordered grid">
			<tr>
				<th ng-repeat="column in columns"
					ng-class="{sortable: column.sortable}" ng-click="sortBy(column)">
					{{column.name}}
					<i ng-class="getSortDir(column)"></i>
				</th>
			</tr>
			<tr ng-repeat="row in rows | orderBy:sortColumn:reverse" ng-animate="{show: 'repeat-show', hide: 'repeat-hide'}">
 				<td ng-repeat="column in columns"> 
 					<cell link="{true: row.id, false: false }[column.asLink]" data="row[column.name]" />
 				</td>
			</tr>
		</table>
		<ul class="pagination">
			<li ng-class="{ disabled: !canNavigateToPreviousPage() }" > 
				<a ng-href="" ng-click="previousPage()">&lt;</a>
			</li>
			<li class="active" > <a ng-click=""> {{ page }} </a></li>
			<li ng-class="{ disabled: !canNavigateToNextPage() }"> 
				<a ng-href="" ng-click="nextPage()">&gt;</a>
			</li>
		</ul>
</div>