<div ng-controller="controllers.ItemFormCtrl">
<bsform model="item">

	<bsformcontrol label="Name"> 
		<input ng-model="item.name" name="name">
	</bsformcontrol>
	
	<bsformcontrol label="Description"> 
		<input ng-model="item.description" name="description">
	</bsformcontrol>
	
	<bsformcontrol label="Seller"> 
		<select ng-model="item.sellerId" ng-options="user.id as user.name for user in users" name="sellerId"></select>
	</bsformcontrol>
	
</bsform>
</div>