<div> This is Items view. </div>
<a href="items/create"> Create </a>
<ui-grid source="dataSource" page="page">
	<column name="id" as-link="true"></column>
	<column name="name" sortable="true"></column>
	<column name="description" sortable="true"></column>
</ui-grid>