<div>This is Users view.</div>
<a href="users/create"> Create </a>
<ui-grid source="dataSource" page="page"> 
	<column name="name"	sortable="true" as-link="true"></column> 
	<column name="login" sortable="true"></column>
	<column name="email" sortable="true"></column> 
</ui-grid>