<div ng-controller="controllers.UserFormCtrl">
<bsform model="item">

	<bsformcontrol label="Name"> 
		<input ng-model="user.name" name="name" server-side-validation-aware>
	</bsformcontrol>
	
	<bsformcontrol label="Login"> 
		<input ng-model="user.login" name="login">
	</bsformcontrol>
	
	<bsformcontrol label="Email"> 
		<input ng-model="user.email" name="email">
	</bsformcontrol>

	<bsformcontrol label="Address"> 
		<input ng-model="user.billingAddress" name="billingAddress">
	</bsformcontrol>

	<bsformcontrol label="Password"> 
		<input ng-model="user.password" name="password">
	</bsformcontrol>

	<bsformcontrol label="Password again"> 
		<input ng-model="user.passConfirm" name="passConfirm">
	</bsformcontrol>

	<bsformcontrol label="Role"> 
		<select ng-model="user.role" ng-options="role.name for role in roles" name="role"></select>
	</bsformcontrol>
	
</bsform>
</div>