<div>
	<div class="container">
		<form name="form" class="form-horizontal" novalidate>
			<div ng-transclude></div>

			<!--  buttons block -->
			<div class="form-group">
				<div class="col-md-offset-2 col-md-4">
					<button class="btn btn-danger" ng-click="reset()"
						ng-disabled="isUnchanged(bid)">RESET</button>
					<button class="btn btn-success" ng-click="save()">SAVE</button>
				</div>
			</div>

		</form>
	</div>
</div>