<div class="form-group" ng-class="{ 'has-error': !isValid() && isDirty() || hasServersideErrors() }" >
	<label for="{{ widgetId }}" class="col-sm-2 control-label">{{ label }}</label>
	<div class="angular-widget-container col-sm-4" ng-transclude>
	</div>
</div>