<div class="form-group">
	<label for="{{ widgetId }}" class="col-sm-2 control-label">{{ label }}</label>
	<div class="col-sm-4">
		<input id="{{ widgetId }}" class="form-control" type="text" ng-model="propertyValue" name="{{ propertyName }}" />
	</div>
</div>