<div class="form-group">
	<label for="{{ widgetId }}" class="col-sm-2 control-label">{{ label }}</label>
	<div class="col-sm-4">
		<select class="form-control" id="{{ widgetId }}" ng-model="propertyValue" name="{{ widgetId }}" ng-options="item.name for item in items"></select> 
	</div>
</div>